body
{
	background-image: url(Grafiki/naturalblack.png);
	font-family: 'Lato', sans-serif;
	color: white;
	margin: 0 !important;
}

#container
{
	width: 1250px;
	margin-left: auto;
	margin-right: auto;
}

#nav
{
	width: 100%;
	text-align: center;
}

ul
{
	display: inline-block;
	text-align: center;
	white-space: nowrap;
	padding: 0;
	margin: 0;
	list-style-type: none;
}

ul > li
{
	display: inline-block;
	min-width: 250px;
	height: 40px;
	margin-top: 70px;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	border-right: 2px solid;
	list-style-type: none;
}

ul > li:nth-child(5)
{
	border: none;
}

#logo
{
	margin-left: auto;
	margin-right: auto;
	height: 450px;
	margin-top: 70px;
	text-align: center;
	font-size: 80px;
	letter-spacing: 30px;
	font-weight: bold;
}

#logo:hover
{
	cursor: default;
}

#footer								/* Z określonymi parametrami "stopka zawsze na dole i na środku" */
{
	position: absolute;
	bottom: 0;
	left: 50%;
	text-align: center;
	font-size: 15px;
	margin-bottom: 15px;
	margin-left: -200px;
	width: 400px;
}

a.menu
{
	color: #ffffff;
	text-decoration: none;
}

a.menu:hover
{
	cursor: pointer;
	color: #dddddd;
}

.social
{
	float: left;
	text-align: center;
	margin-left: 25px;
	margin-right: 25px;
	margin-bottom: 25px;
}

.icon-facebook-squared:hover
{
	color: #cccccc;
}

.icon-instagram:hover
{
	color: #cccccc;
}

.icon-youtube-squared:hover
{
	color: #cccccc;
}

.icon-spotify:hover
{
	color: #cccccc;
}

.icon-soundcloud:hover
{
	color: #cccccc;
}